/* https://madebyfew.com/ */

/* line 75, ../sass/style.scss */
html {
  overflow-x: hidden;
}

/* line 79, ../sass/style.scss */
body {
  font-family: "brandon-grotesque", helvetica, sans-serif;
  font-style: normal;
  font-weight: 200;
  width: auto;
  color: #58647A;
  background: #FFFFFF url(../images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

/* line 93, ../sass/style.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 99, ../sass/style.scss */
input, button, keygen, textarea, select {
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 106, ../sass/style.scss */
input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline: none;
}

/* line 113, ../sass/style.scss */
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

/* line 119, ../sass/style.scss */
img {
  width: 220px;
  margin-left: 140px;
}
@media only screen and (max-width: 992px) {
  /* line 119, ../sass/style.scss */
  img {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 119, ../sass/style.scss */
  img {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 119, ../sass/style.scss */
  img {
    margin-left: -40px;
  }
}

/* line 133, ../sass/style.scss */
div.content {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  position: relative;
  margin-bottom: 100px;
}
/* line 142, ../sass/style.scss */
div.content:before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQoU2NkYGD4z8DAwMhAAMAUEFSMbBJexehW4lSMzW1YFePyBIZifL5FUUwoWOCKCSkEhS5YMTEKwYoB/a0KCojjtVkAAAAASUVORK5CYII=) repeat;
  position: absolute;
  left: 40px;
  top: 40px;
  z-index: -1;
}
@media only screen and (max-width: 992px) {
  /* line 133, ../sass/style.scss */
  div.content {
    margin-bottom: 40px;
    flex-direction: column-reverse;
    border: 3px solid #FD8B83;
    position: relative;
  }
}
/* line 160, ../sass/style.scss */
div.content p {
  font-size: 26px;
  margin: 0;
}
@media only screen and (max-width: 768px) {
  /* line 160, ../sass/style.scss */
  div.content p {
    font-size: 22px;
  }
}
/* line 168, ../sass/style.scss */
div.content .left {
  padding: 40px;
  width: 50%;
  background: #FFFFFF;
}
@media only screen and (max-width: 992px) {
  /* line 168, ../sass/style.scss */
  div.content .left {
    width: auto;
    padding: 60px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 168, ../sass/style.scss */
  div.content .left {
    width: auto;
    padding: 40px;
  }
}
/* line 182, ../sass/style.scss */
div.content .left .info {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px #FD8B83;
  margin-bottom: 20px;
}
/* line 188, ../sass/style.scss */
div.content .left .info h2 {
  margin-top: 0;
  margin-bottom: 20px;
  flex: 1;
  text-align: center;
  border-left: solid 3px #FD8B83;
}
/* line 195, ../sass/style.scss */
div.content .left .info h2:first-child {
  border-left: 0;
}
/* line 202, ../sass/style.scss */
div.content .left i {
  font-size: 16px;
  margin: 40px 0 20px;
  display: block;
}
/* line 207, ../sass/style.scss */
div.content .left form {
  margin: 20px 0 40px;
}
/* line 209, ../sass/style.scss */
div.content .left form div {
  display: flex;
}
/* line 211, ../sass/style.scss */
div.content .left form div input[type="email"] {
  border: none;
  border-bottom: 3px solid #FD8B83;
  padding-left: 0;
  padding-top: 13px;
  padding-bottom: 2px;
  margin-right: -5px;
  font-size: 30px;
  background: #FFFFFF;
  color: #FD8B83;
  flex-grow: 1;
}
@media only screen and (max-width: 768px) {
  /* line 211, ../sass/style.scss */
  div.content .left form div input[type="email"] {
    font-size: 22px;
  }
}
@media only screen and (max-width: 576px) {
  /* line 211, ../sass/style.scss */
  div.content .left form div input[type="email"] {
    font-size: 18px;
  }
}
/* line 229, ../sass/style.scss */
div.content .left form div input[type="submit"] {
  border: 3px solid #FD8B83;
  background: #FFFFFF url(../images/arrow.png) no-repeat center center;
  background-size: 20%;
  width: 62px;
  height: 62px;
  color: #FD8B83;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  text-indent: -999px;
}
@media only screen and (max-width: 576px) {
  /* line 229, ../sass/style.scss */
  div.content .left form div input[type="submit"] {
    width: 42px;
    background-size: 30%;
  }
}
/* line 244, ../sass/style.scss */
div.content .left form div input[type="submit"]:hover {
  background: #FD8B83 url(../images/arrow-white.png) no-repeat center center;
  background-size: 20%;
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  /* line 244, ../sass/style.scss */
  div.content .left form div input[type="submit"]:hover {
    background-size: 30%;
  }
}
/* line 253, ../sass/style.scss */
div.content .left form div ::-webkit-input-placeholder {
  color: #FD8B83;
}
/* line 256, ../sass/style.scss */
div.content .left form div :-moz-placeholder {
  color: #FD8B83;
}
/* line 259, ../sass/style.scss */
div.content .left form div ::-moz-placeholder {
  color: #FD8B83;
}
/* line 262, ../sass/style.scss */
div.content .left form div :-ms-input-placeholder {
  color: #FD8B83;
}
/* line 265, ../sass/style.scss */
div.content .left form div :placeholder-shown {
  color: #FD8B83;
}
/* line 271, ../sass/style.scss */
div.content .left ul li {
  display: inline-block;
  margin-right: 20px;
  float: left;
}
@media only screen and (max-width: 768px) {
  /* line 271, ../sass/style.scss */
  div.content .left ul li {
    float: none;
  }
}
/* line 278, ../sass/style.scss */
div.content .left ul li a {
  text-decoration: none;
  color: #58647A;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 285, ../sass/style.scss */
div.content .left ul li:last-child {
  margin-right: 0;
  float: right;
}
@media only screen and (max-width: 768px) {
  /* line 285, ../sass/style.scss */
  div.content .left ul li:last-child {
    float: none;
    margin-top: 20px;
  }
}
/* line 297, ../sass/style.scss */
div.content .right {
  padding: 40px;
  padding-right: 0;
  border-left: 3px solid #FD8B83;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  /* line 297, ../sass/style.scss */
  div.content .right {
    width: auto;
    border-left: none;
    border-bottom: 3px solid #FD8B83;
    padding: 40px;
    background: #FFFFFF;
  }
}
/* line 314, ../sass/style.scss */
div.content .right .vimeo-container {
  background: #FFFFFF;
  border: solid 3px #FFFFFF;
}
/* line 334, ../sass/style.scss */
div.content .right .right-footer {
  width: 100%;
}
/* line 336, ../sass/style.scss */
div.content .right .right-footer .cost {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 40px;
}
/* line 341, ../sass/style.scss */
div.content .right .right-footer .cost span {
  display: block;
  clear: both;
  font-size: 14px;
  font-style: italic;
  margin-top: -6px;
}
/* line 349, ../sass/style.scss */
div.content .right .right-footer .cta {
  text-align: center;
}
/* line 351, ../sass/style.scss */
div.content .right .right-footer .cta a {
  text-decoration: none;
  border: 3px solid #FD8B83;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FD8B83;
}
/* line 358, ../sass/style.scss */
div.content .right .right-footer .cta a:hover {
  background: #FD8B83;
  color: #FFFFFF;
}
